<div id="fullnav" class="fullnav-menu text-center">
    <div class="container">
        <div class="row" style="margin-top: 5vh; margin-right: 2px;">
            <span class="ml-auto">X</span>
        </div>
        <div class="row mt-20v">
            <div class="col-12">
                <ul class="list-unstyled ml-auto">
                    <li class="">
                        <a class="nav-link js-scroll-trigger" href="#roadmap">
                            <h1>ROADMAP</h1>
                        </a>
                    </li>
                    <li class="">
                        <a class="nav-link" href="http://github.com/thorchain" target="_blank">
                            <h1>EVENTS</h1>
                        </a>
                    </li>
                    <li class="">
                        <a class="nav-link" href="http://github.com/thorchain" target="_blank">
                            <h1>RESOURCES</h1>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>