
    <footer id="footer" class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-6" style="height:30px">
                  <img style="height:30px" class="img-fluid" src="assets/img/thorchain-black-text.svg">
              </div>
              <div class="col-6 text-right" style="height:30px">
                  <p style="font-size:12px; line-height:30px;">Copyright 2018 Thorchain</p>
              </div>
          </div>
      </div>
  </footer>