<section id="top">
    <div class="container-fluid top-div min-h-60v" id="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="row top-text">
                        <h1>ODIN FOUNDATION</h1>
                        <h5>Overseeing the development of open source decentralised technologies for the THORChain Ecosystem.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid min-h-60v" id="ecosystem">
        <div class="container ecosystem-container">
            <div class="row text-center">
                <div class="col-12">
                    <h1>THORCHAIN ECOSYSTEM</h1>
                    <h5>A hybrid of emerging multi-layer technologies</h5>
                </div>
            </div>
            <div class="row component-row my-30 text-left">
                <div class="container  text-center" style="justify-content: center">
                    <a href="https://github.com/thorchain" target="_blank">
                        <div class="thorchain-component" style="display: inline-block;">
                            <h4>
                                <span class="pr-10px">
                                    <img src="assets/img/thorchain.svg">
                                </span>THORCHAIN</h4>
                            <div class="bg-thorchain-gradient-center w-100p" style=" height:1px; margin-bottom: 10px;"></div>
                            <p>A multi-chain optimised for lightning-fast Layer 1 digital asset trading.</p>
                        </div>
                    </a>
                    <a href="https://github.com/thorchain/Yggdrasil-Protocol" target="_blank">
                        <div class="thorchain-component" style="display: inline-block;">
                            <h4>
                                <span class="pr-10px">
                                    <img src="assets/img/yggdrasil.svg">
                                </span>YGGDRASIL PROTOCOL</h4>
                            <div class="bg-thorchain-gradient-center w-100p" style=" height:1px; margin-bottom: 10px;"></div>
                            <p>A trust-minimized highly scalable sharding solution for THORChain.</p>
                        </div>
                    </a>
                    <a href="https://github.com/thorchain/Flash-Network" target="_blank">
                        <div class="thorchain-component" style="display: inline-block;">
                            <h4>
                                <span class="pr-10px">
                                    <img src="assets/img/flash.svg">
                                </span>FLASH NETWORK</h4>
                            <div class="bg-thorchain-gradient-center w-100p" style=" height:1px; margin-bottom: 10px;"></div>
                            <p>A Layer 2 Network for cross-network instant asset exchange.</p>
                        </div>
                    </a>
                    <a href="https://github.com/thorchain/Bifrost-Protocol" target="_blank">
                        <div class="thorchain-component" style="display: inline-block;">
                            <h4>
                                <span class="pr-10px">
                                    <img src="assets/img/bifrost.svg">
                                </span>BIFRÖST PROTOCOL</h4>
                            <div class="bg-thorchain-gradient-center w-100p" style=" height:1px; margin-bottom: 10px;"></div>
                            <p>A fully secured cross-chain bridge protocol for THORChain.</p>
                        </div>
                    </a>
                    <a href="https://github.com/thorchain/ASGARDEX" target="_blank">
                        <div class="thorchain-component" style="display: inline-block;">
                            <h4>
                                <span class="pr-10px">
                                    <img src="assets/img/asgardex.svg">
                                </span>ASGARDEX</h4>
                            <div class="bg-thorchain-gradient-center w-100p" style=" height:1px; margin-bottom: 10px;"></div>
                            <p>A fast and secure decentralised exchange built for THORChain.</p>
                        </div>
                    </a>
                    <a href="https://github.com/thorchain/AEsir-Protocol" target="_blank">
                        <div class="thorchain-component" style="display: inline-block;">
                            <h4>
                                <span class="pr-10px">
                                    <img src="assets/img/aesir.svg">
                                </span>ÆSIR PROTOCOL</h4>
                            <div class="bg-thorchain-gradient-center w-100p" style=" height:1px; margin-bottom: 10px;"></div>
                            <p>A self-amending forkless consensus algorithm for THORChain.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid  min-h-60v" id="governance">
    <div class="container mt-10v mb-10v">
        <div class="row">
            <div class="col-12 text-center">
                <h1>GOVERNANCE</h1>
                <div class="bg-thorchain-gradient-center w-50p" style=" height:2px; margin:0 auto ; margin-bottom: 10px;"></div>
                <h5>A PUBLIC, TRANSPARENT AND DECENTRALISED ORGANISATION WITH OPEN FUNDING GRANTS.</h5>
            </div>
        </div>
        <div class="row pt-5vh">
            <div class="col-lg-8">
                <h4>GOVERNANCE</h4>
                <div class="bg-thorchain-gradient-center w-100p" style=" height:1px; margin:0 auto ; margin-bottom: 10px;"></div>
                <p>
                    The Odin Foundation is a not-for-profit foundation in Switzerland. Governance is provided by volunteer industry leaders,
                    reviewed annually.</p>
            </div>
            <div class="col-lg-4 text-center">
                <!--
                  <button class="btn btn-thor-outline mt-5v">VIEW CONSTITUTION</button> 
                  -->
            </div>
        </div>
        <div class="row pt-5vh">
            <div class="col-lg-8">
                <h4>FUNDING</h4>
                <div class="bg-thorchain-gradient-center w-100p" style=" height:1px; margin:0 auto ; margin-bottom: 10px;"></div>
                <p>Donations are used by the Foundation to fund protocol development and adoption. The Odin Foundation welcomes
                    all donations. For large donations, please apply to be a Partner Donor by contacting the Foundation.
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <!--
                  <button class="btn btn-thor-outline mt-5v">VIEW BUDGET</button>
                  -->
            </div>
        </div>
    </div>
</div>
<div class="container-fluid  min-h-60v" id="governance">
    <div class="container mt-10v mb-10v">
        <div class="row">
            <div class="col-12 text-center">
                <h1>FUNDS</h1>
                <div class="bg-thorchain-gradient-center w-50p" style=" height:2px; margin:0 auto ; margin-bottom: 10px;"></div>
                <h5>A TRANSPARENT FUNDING SYSTEM WITH CLEAR OUTCOMES.</h5>
            </div>
        </div>
        <div class="row pt-5vh">
            <div *ngFor="let fund of funds" class="col-lg-4">
                <div class="funds-card p-10px">
                    <div class="px-25px">
                        <div class="funds-card-header"> 
                            <h4 class="text-center py-10px">{{fund.name}}</h4>
                            <div class="bg-thorchain-gradient-center w-100p" style=" height:2px; margin:0 auto ; margin-bottom: 10px;"></div>
                        </div>
                        <p class="fund-description">{{fund.description}}</p>
                        <br>
                        <p class="fs-14 text-grey fw-400">Rune</p>
                        <h6>$USD {{convertToLocaleString(getDollarsAmountFromRune(fund.rune))}}</h6>
                        <br>
                        <p class="fs-14 text-grey fw-400">Eth</p>
                        <h6>$USD {{convertToLocaleString(getDollarsAmountFromEth(fund.eth))}}</h6>
                        <br>
                        <p class="fs-14 text-grey fw-400">Total</p>
                        <h6>$USD {{convertToLocaleString(getTotalDollarsAmount(fund.rune, fund.eth))}}</h6>
                        <br>
                        <a href="https://etherscan.com/address/{{fund.ethAddress}}" target="_blank">
                            <h6 class="text-center py-10px">VIEW ASSETS</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="contact">
    <div class="container mt-10v mb-10v">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4>CONTACT US</h4>
            </div>
            <div class="col-lg-12">
                <form name="contact-form" style="padding:25px;" id="contact-form" action="https://formspree.io/jp@thorchain.org" method="POST">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 my-2">
                                <label for="email">Email address</label>
                                <input required type="email" class="form-control" id="email" name="email" placeholder="Your email">
                            </div>
                            <div class="col-md-6 my-2">
                                <label for="name">Full Name</label>
                                <input required type="text" class="form-control" id="name" name="name" placeholder="Your full name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea required class="form-control" id="message" name="message" rows="3"></textarea>
                    </div>
                    <div class="form-group text-right">
                        <input type="text" name="_gotcha" style="display:none">
                        <button type="submit" class="btn btn-thor-outline" style="width:150px;">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>